<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Uber App</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
	<h2>Welcome to the Uber App Sandbox</h2>
	<h4>You are now authenticated within Uber.</h4>
	<h4>Sample Endpoints:</h4>

	<h3>User</h3>
	<p><a href="/profile">Profile</a></p>

	<ul id='profile'></ul>

	<p><a href="/history">History</a></p>
	<ul id='history'></ul>

	<h3>Product Information</h3>
	<form action='/priceestimate' method='post'>
		<input type='submit' value='POST Request Price Estimate'>
	</form>
	
	<p><a href="/timeestimate">POST Request Time Estimate</a></p>

	<h3>Requests</h3>

	<form action="/requestUberBlack" method="post">POST Requests (Requests UBER car)
		<input type="submit" value="request an Uber Black car!!!">
	</form>

	<p><a href="/requestdetails">POST Request Details</a></p>
	
	<p><a href="/map">POST Request Map</a></p>
	<p><a href="/delete">DELETE Cancel Request</a></p>
	<p><a href="/receipt">GET Ride Receipt</a></p>




	<div id="location">
		<p>Loading geolocation...</p>
	</div>
	<p><a href="/logout">Logout</a></p>

	<!-- <form action="/getProduct">

	</form> -->

	<script type="text/javascript">
		$(document).ready(function(){
			console.log('document is ready');

			$.get('/profile', function (res){
				console.log('here is the user\'s uber profile');
				console.log(res);
				for ( var i in res ) {
					$('#profile').append("<li>" + i + ": " + res[i] + "</li>");
				} 
			});

			$.get('/history', function (res){
				console.log('here is the user\'s uber history');
				console.log(res);
				for ( var i in res ) {
					$('#history').append("<li>" + i + ": " + res[i] + "</li>");
				} 
			});			


		});
	</script>

	<script type="text/javascript">

	var locationDiv = document.getElementById("location");

	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(showPosition);
	} else {
    var toSet = "";
		toSet = "Geolocation not supported input your own starting and ending coordinates below";
    toSet += "<form action='/request_reqId' method='POST'>";
    toSet += "Starting Latitude:<input type='text' name='start_latitude'>";
    toSet += "Starting Longitude:<input type='text' name='start_longitude'>";
    toSet += "Ending Latitude:<input type='text' name='end_latitude'>";
    toSet += "Ending Longitude:<input type='text' name='end_longitude'>";
    toSet += "</form>";
    locationDiv.innerHTML = toSet;
	}

	function showPosition(position) {
    var toSet = "";
		toSet = "<p>Latitude: <strong>" + position.coords.latitude.toFixed(5) + "</strong>, Longitude: <strong>" + position.coords.longitude.toFixed(5) + "</strong>";
	toSet += "<form action='/request_reqId' method='POST'>";
    toSet += "<input type='hidden' name='start_latitude' value='" + position.coords.latitude.toFixed(5) + "'>";
    toSet += "<input type='hidden' name='start_longitude' value='" + position.coords.longitude.toFixed(5) + "'>";
    toSet += "Ending latitude:<input type='text' name='end_latitude'>";
    toSet += "Ending longitude:<input type='text' name='end_longitude'>";
    toSet += "<input type='submit' value='Request Uber!'>"
    toSet += "</form>";
    locationDiv.innerHTML = toSet;
	}

	</script>
	
</body>
</html>